.pantalla{
    width: 100%;
    height: 90%;
    background-color: chartreuse;
    }
    .row label{
        font-size: 15px;
        font-weight:  bold;
        color:cyan (25, 25, 25);
     }

    .row input, textarea, select{
        font-size: 15px;
        font-weight: normal;
        background-color:orange;
        color:aqua(50, 45, 50);
        border-color: yellow;
    } 